#-------------------------------------------------------------
# YABT
#-------------------------------------------------------------

alias ybs="yabt step"
alias ybb="yabt build"
alias ybts="yabt shell"
