#-------------------------------------------------------------
# LAB
#-------------------------------------------------------------

# issue
alias lic='lab issue create'
alias lie='lab issue edit'
alias licl='lab issue close'
alias lis='lab issue show'
alias lib='lab issue browse'
alias lin='lab issue note'
alias linm='lab issue note -m'
alias lil='lab issue list'

# mr
alias lmc='lab mr create'
alias lme='lab mr edit'
alias lmcl='lab mr close'
alias lms='lab mr show'
alias lmb='lab mr browse'
alias lmn='lab mr note'
alias lmn='lab mr note -m'
alias lil='lab mr list'
